.field {
    width: 100%;
}
.container {
    text-align: center;
    margin-top: 50px;
}

.card {
    width: 60%;
    margin: auto;
    background-color:aliceblue ;
    padding: 20px;
}
.card  button {
    margin: 5px;
}