<div class="container">
    <div class="card">
        <H3>COMPOSE AN EAMIL</H3>

        <mat-form-field appearance="fill" class="field">
            <mat-label>Enter Email</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="field">
            <mat-label>Enter password</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width field">
            <mat-label>Content</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>

          
        
    </div>
</div>